/*estilos generales*/

body{
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
}

ul li{
    display: inline;
    margin: 0 50px;
}

/*fin estilos generales*/

/*estilos del perfil*/

#profile{
    border-bottom: black 1px solid;
    padding: 20px;
}


.profile-bloque {
    display: flex;
    width: 100vw; /*Ancho del contenedor*/
    justify-content: space-between;
}

.profile {
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
}

.sidebar {
    width: 35px; /*ancho del rectángulo*/
    height: 52%; /*alto del rectángulo*/
    background-color: #f5c9a5;
    position: absolute;
    left: 0;
    top: 0;
}

.nombre {
    font-weight: bold;
    font-size: 30px;
    margin-top: 0px;
    padding: 0px;
}


#bloque{
    font-size: 25px;
    color: #85776a;
    width: 300px;
    background-color: #ffd2ab;
    padding-left: 15px;
}

/*fin estilos del perfil*/


/*estilos de educación*/

.education{
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
}

.education-container{
    display: flex;
}

.education-element{
    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;
}

.borde{
    padding-left: 50px;
    border-left: 1px solid black;
}

#education-bloque{
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}


.experience{
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
}

.experience-container{
    display: flex;
}

.experience-element{
    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;
}

.borde{
    padding-left: 50px;
    border-left: 1px solid black;
}

#junior-bloque{
    padding-top: 30px;
}

.junior{
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
}

.junior-container{
    display: flex;
}

.junior-element{
    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;
}

.borde{
    padding-left: 50px;
    border-left: 1px solid black;
}


#junior-bloque{
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

/*fin estilos de educación*/

/*estilos de skills*/

.skills{
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
}

#skills-bloque{
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.skills-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
}

.skills-column1{
    width: 45%;
    border-right: 1px solid black;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.skills-column2{
    width: 48%;
    padding-left: 30px;
}


.skill-element1{
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 50%;
    text-align: justify;
}

.skill-name1{
    width: 100px;
    text-align: left;
    margin-right: 10px;
}

.progress{
    background-color: #d8d8d8; /* Color de fondo de la barra de progreso */
    border-radius: none; /* Bordes redondeados */
    height: 20px; /* Altura de la barra de progreso */
    width: 80%; /* Ancho de la barra de progreso */
}

.progress-bar {
    background-color: black; /* Color de la barra de progreso */
    height: 100%; /* Altura de la barra de progreso */
    border-radius: none; /* Bordes redondeados */
}


.skill-element2{
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 50%;
    text-align: justify;
}

.skill-name2{
    width: 100px;
    text-align: left;
    margin-right: 10px;
}


.skill-element3{
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 50%;
    text-align: justify;
}

.skill-name3{
    width: 100px;
    text-align: left;
    margin-right: 10px;
}

.skill-element4{
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 50%;
    text-align: justify;
}

.skill-name4{
    width: 100px;
    text-align: left;
    margin-right: 10px;
}


.skill-element5{
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 50%;
    text-align: justify;
}

.skill-name5{
    width: 100px;
    text-align: left;
    margin-right: 10px;
}

.skill-element6{
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 50%;
    text-align: justify;
}

.skill-name6{
    width: 100px;
    text-align: left;
    margin-right: 10px;
}

/*fin estilos de skills*/

/*estilos de proyectos*/

.projects{
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
}

.projects-container{
    display: flex;
}

.projects-element{
    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;
}

.borde{
    padding-left: 50px;
    border-left: 1px solid black;
}


#print-bloque{
    padding-top: 30px;
}

.print{
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
}

.print-container{
    display: flex;
}

.print-element{
    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;
}

.borde{
    padding-left: 50px;
    border-left: 1px solid black;
}


#print-bloque{
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

/*fin estilos de proyectos*/

/*estilos de lenguajes*/

.lenguajes{
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
}

#lenguajes-bloque{
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.lenguajes-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
}

.lenguajes-column{
    width: 45%;
    border-right: 1px solid black;
    padding-right: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*.skills-column2{
    width: 48%;
    padding-left: 30px;
}*/


.lenguaje-element1{
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 50%;
    text-align: justify;
}

.lenguaje1{
    width: 100px;
    text-align: left;
    margin-right: 10px;
}

.progress{
    background-color: #d8d8d8; /* Color de fondo de la barra de progreso */
    border-radius: none; /* Bordes redondeados */
    height: 20px; /* Altura de la barra de progreso */
    width: 80%; /* Ancho de la barra de progreso */
}

.progress-bar {
    background-color: black; /* Color de la barra de progreso */
    height: 100%; /* Altura de la barra de progreso */
    border-radius: none; /* Bordes redondeados */
}

.lenguaje-element2{
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 50%;
    text-align: justify;
}

.lenguaje2{
    width: 100px;
    text-align: left;
    margin-right: 10px;
}

.lenguaje-element3{
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 50%;
    text-align: justify;
}

.lenguaje3{
    width: 100px;
    text-align: left;
    margin-right: 10px;
}

.lenguaje-element4{
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 50%;
    text-align: justify;
}

.lenguaje4{
    width: 100px;
    text-align: left;
    margin-right: 10px;
}

.lenguaje-element5{
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 50%;
    text-align: justify;
}

.lenguaje5{
    width: 100px;
    text-align: left;
    margin-right: 10px;
}

/*fin estilos de lenguajes*/

/*estilos de certification*/

.certification-column{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}

.certification-title {
    padding-left: 25px;
}

.certification-content {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.certification-item {
    width: 48%;
    padding-left: 20px;
}

/*fin estilos de certification*/

/*estilos de hobbies*/

.hobbies{
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
}

.hobbies-container{
    display: flex;
    padding: 20px;
}

.hobby{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 180px;
    margin-left: 100px;
}

.hobby img{
    width: 50px;
    height: 50px;
    border-radius: 70px;
    border: 1px solid black;
    padding: 10px;
}

.hobby p{
    font-size: 20px;
}

.hobbies h2{
    margin-top: 0px;
    padding-top: 25px;
}